*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --my-background:#100F0F;
    --my-Primario: #F1F1F1;
    --my-Secundario: #0F3D3E;
    --my-Terciario: #E2DCC8;
    
}
.containerHJ{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav .containerHJ{
    width: 100%;
    height: auto;
    background-color: var(--my-background);
    flex-direction: column;
    justify-content: space-between;
}
.list{
    display: flex;
    list-style: none;
}
.list li{
    padding: 5px 10px;
}
.list a{
    color: var(--my-Primario);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s;
}
.list a:hover{
    font-size: 1.4em;
    padding: 8px 10px;
    transition: all 0.5s;
}
.logo{
    color: var(--my-Primario);
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.7s;
}
.logo:hover{
    padding: 5px;
    font-size: 4.5em;
    transition: all 0.7s;
}



/* HERO */

#hero .containerHJ{
    color:var(--my-Primario);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),url(./images/hero.avif);
    background-position: center;
    background-size: cover;
}
#hero .TituloHero{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

/* QUIENES SOMOS */
#QuienesSomos .containerHJ{
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--my-Terciario);
}
#QuienesSomos .divLeft{
    width: 30%;
    height: 75%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}#QuienesSomos .divLeft *{
    padding: 10px 0;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#QuienesSomos .divRight{
    width: 35%;
    height: 85%;
    background-image: url(./images/Quiene-somos.avif);
    background-position: center;
    background-size: cover ;
}


/* TRABAJOS FINALIZADOS */
#TrabajosFinalizados .containerHJ{
    flex-direction: column;
    background-color: var(--my-Secundario);
    color: var(--my-Primario);
}
#TrabajosFinalizados .containerHJ *{
    margin-top: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#TrabajosFinalizados .btnTrabajos{
    transition:  0.3s ease-in-out;
    margin-bottom: 20px;
}
#TrabajosFinalizados .btnTrabajos:hover{
    transition:  0.3s ease-in-out;
}




/* SERVICIOS */
#Servicios .containerHJ{
    height: 100vh;
    justify-content: space-evenly;
    background-color: var(--my-Primario);
}
#Servicios .subTitulo,.titulo{
    color: var(--my-Secundario);
}   
#Servicios .divLeft{
    width: 45%;
    flex-direction: column;
}
#Servicios .divLeft *{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#Servicios .titulo{
    padding-top:20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8em;
}
#Servicios .subTitulo{
    font-weight: 900;
    font-size: 1.8em;
}
#Servicios .divRight{
    width: 45%;
    flex-direction: column;
}
#Servicios .divConstruccion{
    flex-direction: row;
}
#Servicios .textoServicio{
    width: 70%;
}
#Servicios .icon{
    width: 70px;
    height:70px;
}
#Servicios .iconConstruccion{
    background: url(./icon/construcion.svg);
}
#Servicios .iconDiseño{
    background: url(./icon/diseño.svg);
}
#Servicios .iconPlanos{
    background: url(./icon/planos.svg);
}
#Servicios .divCotizacion{
    height: 70%;
    width: 45%;
}